<div ng-controller="ValuationCtrl as ctrl">
    <div class="page-header">
        <h2 class="text-center text-success">Decision Support System for IP Valuation</h2>
    </div>
    <div id="errorDiv" class="alert alert-danger" ng-show="ctrl.showError">
        <a ng-href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> {{ctrl.errMsg}}
    </div>
    <div ng-show="ctrl.showForm">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form name="valuationForm" ng-submit="ctrl.submitForm(valuationForm.$valid)">

                    <div class="row">
                        <div class="form-group col-sm-5" ng-class="{ 'has-error' : valuationForm.name.$invalid && ctrl.submitted }">
                            <label class="control-label" for="technology">Name of the Technology*</label>
                            <input type="text" class="form-control" name="name" ng-model="ctrl.data.name" placeholder="Technology" required>
                            <p ng-show="valuationForm.name.$invalid && ctrl.submitted " class="help-block">Name is required.</p>
                        </div>
                        <div class="form-group col-sm-5" ng-class="{ 'has-error' : valuationForm.institute.$invalid && !valuationForm.institute.$pristine }">
                            <label class="control-label" for="institute">Institute/University*</label>

                            <autocomplete name="institute" ng-model="ctrl.data.institute" attr-placeholder="institute" data="ctrl.instituteList" click-activation=true attr-input-class="form-control" autocomplete-required></autocomplete>

                            <p ng-show="valuationForm.institute.$invalid && !valuationForm.institute.$pristine" class="help-block">Institute is required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-5" ng-class="{ 'has-error' : valuationForm.developedBy.$invalid && ctrl.submitted }">
                            <label class="control-label" for="developedBy">Developed By*</label>
                            <input type="text" class="form-control" name="developedBy" ng-model="ctrl.data.developedBy" placeholder="Name of Developer" required>
                            <p ng-show="valuationForm.developedBy.$invalid && ctrl.submitted " class="help-block">Name is required.</p>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label" for="contact">Contact Email</label>
                            <input type="text" class="form-control" name="contact_email" ng-model="ctrl.data.contactEmail" placeholder="Email" required>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label" for="contact">Contact Mobile</label>
                            <input type="text" class="form-control" name="contact_mobile" ng-model="ctrl.data.contactMobile" placeholder="Mobile" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label class="control-label" for="type">Technology </label>
                            <select class="form-control" name="technology" ng-model="ctrl.data.technology" ng-change="ctrl.changeTechTypes()" ng-options="value.name as value.name for value  in ctrl.technologies">
                            </select>

                        </div>
                        <div class="form-group col-sm-5">
                            <label class="control-label" for="type">Type </label>
                            <select class="form-control" name="type" ng-model="ctrl.data.techType" ng-options="value for value in ctrl.techTypes">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label class="control-label" for="IP Category">IP Category</label>
                            <select class="form-control" name="ip_category" ng-model="ctrl.data.ipCategory" ng-options="value for value in ctrl.ipCategoryValues"></select>
                        </div>

                        <div class="form-group col-sm-5">
                            <label class="control-label" for="IP State">IP State</label>
                            <select class="form-control" name="ip_state" ng-model="ctrl.data.ipState" ng-options="value for value in ctrl.ipStateValues"></select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label class="control-label" for="method">Method of Valuation</label>
                            <select class="form-control" name="method" ng-model="ctrl.data.valuationMethod" ng-change="ctrl.changeFields()" ng-options="value for value in ctrl.methodValues"></select>
                        </div>
                    </div>
                    <br>
                    <div class="row bg-info">
                        <label class="col-xs-12">Valuation Data</label>
                    </div>
                    <br>
                    <div class="row">
                        <div ng-repeat="field in ctrl.selectedFields">
                            <div class="clearfix" ng-if="$index % 3 == 0"></div>
                            <!-- TEXT FIELDS -->
                            <div ng-if="field.type=='text' ||field.type=='number' " class="col-sm-4 form-group">
                                <label class="control-label">{{field.label}} </label>

                                <a ng-if="field.helpText" href="" data-toggle="popover" data-trigger="focus" role="button" data-placement="right" data-content={{field.helpText}}>
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                                <input class="form-control" custom-attr content="field" ng-model="ctrl.data[field.name]"></input>

                                <!-- <input type="{{ field.type }}" name={{field.name}} id="{{field.name}}" data-ng-model="ctrl.data.{{field.name}}" class="form-control" required/> -->
                                <!--<span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.required">Required!</span>.-->
                            </div>
                            <!-- SELECT FIELDS -->
                            <div ng-if="field.type=='select'" class="col-sm-4 form-group">
                                <label class="control-label">{{field.label}} </label>

                                <a ng-if="field.helpText" href="" data-toggle="popover" data-trigger="focus" role="button" data-placement="right" data-content={{field.helpText}}>
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                                <select class="form-control" custom-attr content="field" ng-model="ctrl.data[field.name]" ng-options="value for value in field.options" ng-change="ctrl.changeRate(field.name)"></select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>